
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTerm_declaration_acceptLabel" data-translate="investhryApp.term_declaration_accept.home.createOrEditLabel">Create or edit a Term Declaration Accept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.term_declaration_accept.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.term_declaration_accept.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.term_declaration_accept.projectid" for="field_projectid">Projectid</label>
            <input type="text" class="form-control" name="projectid" id="field_projectid"
                    ng-model="vm.term_declaration_accept.projectid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.term_declaration_accept.acceptance" for="field_acceptance">Acceptance</label>
            <input type="checkbox" class="form-control" name="acceptance" id="field_acceptance"
                    ng-model="vm.term_declaration_accept.acceptance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.term_declaration_accept.applicationdate" for="field_applicationdate">Applicationdate</label>
                <div class="input-group">
                    <input id="field_applicationdate" type="text" class="form-control" name="applicationdate" datetime-picker="{{dateformat}}" ng-model="vm.term_declaration_accept.applicationdate" is-open="vm.datePickerOpenStatus.applicationdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('applicationdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.term_declaration_accept.place" for="field_place">Place</label>
            <input type="text" class="form-control" name="place" id="field_place"
                    ng-model="vm.term_declaration_accept.place"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setSignature($file, vm.term_declaration_accept)">
            <label class="control-label" data-translate="investhryApp.term_declaration_accept.signature" for="field_signature">Signature</label>
            <div>
                <div ng-if="vm.term_declaration_accept.signature" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.term_declaration_accept.signatureContentType, vm.term_declaration_accept.signature)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.term_declaration_accept.signatureContentType}}, {{vm.byteSize(vm.term_declaration_accept.signature)}}</span>
                    <button type="button" ng-click="vm.term_declaration_accept.signature=null;vm.term_declaration_accept.signatureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setSignature($file, vm.term_declaration_accept)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="signature" id="field_signature"
                    ng-model="vm.term_declaration_accept.signature"
                    />
            <input type="hidden" class="form-control" name="signatureContentType" id="field_signatureContentType"
                    ng-model="vm.term_declaration_accept.signatureContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

