
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myServiceFormFieldLabel" data-translate="investhryApp.serviceFormField.home.createOrEditLabel">Create or edit a Service Form Field</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serviceFormField.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serviceFormField.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.serviceFormField.fieldName" for="field_fieldName">Field Name</label>
            <input type="text" class="form-control" name="fieldName" id="field_fieldName"
                    ng-model="vm.serviceFormField.fieldName"
                    required/>
            <div ng-show="editForm.fieldName.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.serviceFormField.fieldType" for="field_fieldType">Field Type</label>
            <input type="text" class="form-control" name="fieldType" id="field_fieldType"
                    ng-model="vm.serviceFormField.fieldType"
                    required/>
            <div ng-show="editForm.fieldType.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.serviceFormField.serviceID" for="field_serviceID">Service ID</label>
            <input type="text" class="form-control" name="serviceID" id="field_serviceID"
                    ng-model="vm.serviceFormField.serviceID"
                    required/>
            <div ng-show="editForm.serviceID.$invalid">
                <p class="help-block"
                    ng-show="editForm.serviceID.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.serviceFormField.fieldTypeOption" for="field_fieldTypeOption">Field Type Option</label>
            <input type="text" class="form-control" name="fieldTypeOption" id="field_fieldTypeOption"
                    ng-model="vm.serviceFormField.fieldTypeOption"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.serviceFormField.fieldRenderingOrder" for="field_fieldRenderingOrder">Field Rendering Order</label>
            <input type="number" class="form-control" name="fieldRenderingOrder" id="field_fieldRenderingOrder"
                    ng-model="vm.serviceFormField.fieldRenderingOrder"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
