<form name="editForm" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlockLabel" data-translate="">Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" data-translate="">Amount : Rs. {{vm.projectServicePayment.paymentMade}}</label>

        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Comments</label>
            <textarea class="form-control" rows="3" id="textArea" ng-model="vm.projectServiceLog.comments" required></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Attachment</label>
            <input type="file" class="form-control"  file-Model="vm.projectAttachemnt.file">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="">Cancel</span>
        </button>
        <form id="payu-payment-form" method="post" action="https://secure.payu.com/api/v2_1/orders">
            <input type="hidden" name="continueUrl" value="http://shop.url/continue">
            <input type="hidden" name="currencyCode" value="INR" >
            <input type="hidden" name="customerIp" value="123.123.123.123" >
            <input type="hidden" name="description" value="Order description" >
            <input type="hidden" name="merchantPosId" value="145227" >
            <input type="hidden" name="notifyUrl" value="http://shop.url/notify" >
            <input type="hidden" name="products[0].name" value="Product 1" >
            <input type="hidden" name="products[0].quantity" value="1" >
            <input type="hidden" name="products[0].unitPrice" value="1000" >
            <input type="hidden" name="totalAmount" value="1000" >
            <input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=bc94a8026d6032b5e216be112a5fb7544e66e23e68d44b4283ff495bdb3983a8">
            <button type="submit" id="abc" formtarget="_blank" >Pay with PayU</button>
        </form>
    </div>
</form>


