
<form name="myForm" class="form-horizontal" role="form">
    <form>
        <div class="panel panel-primary">
            <div class="modal-header">
                <h4 class="modal-title" id="myBlockLabel">Service Log</h4>
            </div>

            <div class="panel-body">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr>
                        <th><span>Action</span></th>
                        <th><span>Date</span></th>
                        <th><span>Action By</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td>{{projectServicePaymentDetail.paymentMade}}</td>
                        <td>{{projectServicePaymentDetail.paymentMadeBy}}</td>
                        <td>{{projectServicePaymentDetail.paymentDate}}</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">Close</button>
        <!--<button type="submit" class="btn btn-primary" ng-click="vm.verifyPayment()">-->
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="">Verify Payment</span>-->
        <!--</button>-->
    </div>
</form>
