
<form name="myForm" role="form">

    <div class="modal-header">
       <h4 class="modal-title" id="myBlockLabel">Fill Service Form</h4>
    </div>

    <div class="modal-body">
        <div ng-repeat="field in vm.serviceFormFieldData | orderBy:'field.formfieldOrder'" class="form-horizontal">
            <ng-form name="form">
                <!-- TEXT FIELDS -->
                <div ng-if="field.formfieldtype=='text'" class="form-group">
                    <label class="col-sm-2 control-label">{{field.formfieldName}}</label>
                    <div class="col-sm-6">
                        <input type="{{ field.fieldType }}" id="{{field.id}}" ng-model="field.formfieldvalue"  class="form-control" required/>

                    </div>
                </div>

                <!-- SELECT FIELDS -->
                <div ng-if="field.formfieldtype=='select'" class="form-group" >
                    <label class="col-sm-2 control-label">{{field.formfieldName}}</label>
                    <div class="col-sm-6">
                        <select ng-model="field.formfieldvalue" dynamic-name="field.id" ng-options="x for x in field.formtypeOption.split(',') " class="form-control" ng-required="true">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" data-translate="" >Description</label>
            <textarea class="form-control" rows="3" id="textArea" ng-model="vm.projectServiceLog.comments" required></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Attachment</label>
            <input type="file" class="form-control"  file-Model="vm.projectAttachemnt.file">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">Clear</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.saveFormFieldData()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="">Save</span>
        </button>
    </div>
</form>
