<form name="editForm" role="form" method="post" action="https://test.payu.in/_payment">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlockLabel" data-translate="">Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" data-translate="">Amount : Rs. {{vm.projectServicePayment.paymentMade}}</label>

        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Comments</label>
            <textarea class="form-control" rows="3" id="textArea" ng-model="vm.projectServiceLog.comments" required></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Attachment</label>
            <input type="file" class="form-control"  file-Model="vm.projectAttachemnt.file">
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="firstname" value="Vikas Kumar" />
        <input type="hidden" name="lastname" value="" />
        <input type="hidden" name="surl" value="https://www.google.com" />
        <input type="hidden" name="phone" value="9999999999" />
        <input type="hidden" name="key" value="gtKFFx" />
        <input type="hidden" name="hash" value ="71e4aabf11214e6d35abd97c3b29982a61151ec8bf4974fa0842bfa4c4a1a2341a64995dff4745910b11749962cd5d1575082c31e82837cd5998e49460d95549" />
        <input type="hidden" name="curl" value="http://www.google.com" />
        <input type="hidden" name="furl" value="https:/www.yahoo.in" />
        <input type="hidden" name="txnid" value="PLS-10061-199999" />
        <input type="hidden" name="productinfo" value="Service Fee" />
        <input type="hidden" name="amount" value="600.00" />
        <input type="hidden" name="email" value="vikaskumarsre@gmail.com" />
        <button type= "submit" id="payubutton" formtarget="_blank"></button>
    </div>
</form>
