<form name="editForm" role="form" method="post" action="https://test.payu.in/_payment">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlockLabel" data-translate="">Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" data-translate="">Amount : Rs. {{vm.projectServicePayment.paymentMade}}</label>

        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Comments</label>
            <textarea class="form-control" rows="3" id="textArea" ng-model="vm.projectServiceLog.comments" required></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="" >Attachment</label>
            <input type="file" class="form-control"  file-Model="vm.projectAttachemnt.file">
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="firstname" value="{{vm.paymentparameters.firstname}}" />
        <input type="hidden" name="surl" value="{{vm.paymentparameters.surl}}" />
        <input type="hidden" name="phone" value="{{vm.paymentparameters.phone}}" />
        <input type="hidden" name="key" value="{{vm.paymentparameters.key}}" />
        <input type="hidden" name="hash" value ="{{vm.paymentparameters.hash}}" />
        <input type="hidden" name="furl" value="{{vm.paymentparameters.furl}}" />
        <input type="hidden" name="txnid" value="{{vm.paymentparameters.txnid}}" />
        <input type="hidden" name="productinfo" value="{{vm.paymentparameters.productinfo}}" />
        <input type="hidden" name="amount" value="{{vm.paymentparameters.amount}}" />
        <input type="hidden" name="email" value="{{vm.paymentparameters.email}}" />
        <button type= "submit" id="payubutton" formtarget="_blank"></button>
    </div>
</form>
