<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Application Summary</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                <tr>
                    <th>Application For </th>
                    <td></td>
                    <th>Sector</th>
                    <td><td>
                </tr><tr>
                    <th>PIN</th>
                    <td></td>
                    <th>ApplicationDate</th>
                    <td></td>
                </tr><tr>
                    <th>Business Entity</th>
                    <td></td>
                    <th>Site Detail</th>
                    <td></td>
                </tr><tr>
                    <th>Project Cost</th>
                    <td></td>
                    <th>MOU (Year)
                    </th>
                    <td></td>
                </tr><tr>
                    <th>Relationship Manager
                    </th>
                    <td></td>
                    <th>Contact Info
                    </th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Assign Services</h3>
        </div>
        <div class="panel-body">
        <table class="jh-table table table-striped">
            <thead>
            <tr>

                <th><span>Department</span></th>
                <th><span>Service Name</span></th>
                <th><span>Stage</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="projectservice in vm.projectservicelist">

                <td><labed>{{projectservice.departmentName}}</labed></td>
                <td><label></label><label ng-model="vm.departmentService.serviceName">{{projectservice.serviceName}}</label></td>
                <td><label>{{projectservice.serviceStage}}</label></td>
                <td class="text-right">
                    <!--<button type="submit" ng-show="departmentService.isrequired == false" class="btn btn-info btn-sm" ng-click="vm.save(departmentService.serviceid)"><span class="hidden-sm-down" data-translate="Required"></span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                            <!--ui-sref="projectServiceDetails-fee({id:departmentService.id, serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})"-->
                            <!--class="btn btn-info btn-sm" ng-show="departmentService.isassigned == false">-->
                            <!--<span class="hidden-sm-down" data-translate="Assign"></span>-->
                    <!--</button>-->
                    <!--<button type="submit" class="btn btn-info btn-sm">Required</button>-->
                    <!--<button type="submit" ui-sref="reject-dialog({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Reject</button>-->
                    <!--<button type="submit" ui-sref="comment-dialog({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Comment</button>-->
                    <!--<button type="submit" ui-sref="assignservice({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Assign</button>-->
                    <!--<button type="submit" ui-sref="serviceForm-fillform({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Fill Form</button>-->
                    <!--<button type="submit" ui-sref="servicePayment({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Pay Fee</button>-->
                    <!--<button type="submit" ui-sref="verifyPayment({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Verify Payment</button>-->
                    <!--<button type="submit" ui-sref="serviceClearance-action({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Clearance</button>-->
                    <!--<button type="submit" ui-sref="deemedClearance({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Deemed Clearance</button>-->



                    <button type="submit" ng-show="projectservice.isRequired==false" ng-click="vm.markRequired(projectservice.serviceid,vm.projectid)" class="btn btn-info btn-sm">Required</button>
                    <button type="submit" ui-sref="reject-dialog({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.status!='Rejected') && (projectservice.isRequired==true)" class="btn btn-info btn-sm">Reject</button>
                    <button type="submit" ui-sref="comment-dialog({serviceid:projectservice.serviceid, projectid:vm.projectid})" class="btn btn-info btn-sm">Comment</button>
                    <button type="submit" ui-sref="assignservice({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.isAssigned==false) && (projectservice.isRequired==true) && (projectservice.status!='Rejected')" class="btn btn-info btn-sm">Assign</button>
                    <button type="submit" ui-sref="serviceForm-fillform({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.isAssigned==true) && (projectservice.formFilledStatus==false) && (projectservice.status=='Pending')" class="btn btn-info btn-sm">Fill Form</button>
                    <button type="submit" ui-sref="servicePayment({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.isAssigned==true) && (projectservice.isPaymentMade==false) && (projectservice.status=='Pending')"  class="btn btn-info btn-sm">Pay Fee</button>
                    <button type="submit" ui-sref="verifyPayment({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.isPaymentMade==true) && (projectservice.status=='Pending')" class="btn btn-info btn-sm">Verify Payment</button>
                    <button type="submit" ui-sref="serviceClearance-action({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(projectservice.isPaymentVerified==true) && (projectservice.formFilledStatus==true) && (projectservice.status=='Pending')" class="btn btn-info btn-sm">Clearance</button>
                    <button type="submit" ui-sref="deemedClearance({serviceid:projectservice.serviceid, projectid:vm.projectid})" ng-show="(isDimmed) && (projectservice.isAssigned==true) && (projectservice.status=='Pending')" class="btn btn-info btn-sm">Dimmed Clearance</button>
                    <!--<button type="submit" ui-sref="serviceForm-fillform({serviceid:departmentService.serviceid, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})" class="btn btn-info btn-sm">Fill Form</button>-->

                    <!--<button type="submit" ui-sref="serviceFeeController-fee({serviceid:departmentService.id, projectid:vm.CompleteProjectDetail.projectdetailDTO.id})"-->
                            <!--class="btn btn-info btn-sm">-->
                        <!--<span class="hidden-sm-down" data-translate="Pay Fee"></span>-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                            <!--ui-sref="assignservicetoproject-clearance({serviceid:departmentService.id,projectid:vm.CompleteProjectDetail.projectdetailDTO.id})"-->
                            <!--class="btn btn-info btn-sm">-->
                        <!--<span class="hidden-sm-down" data-translate="Deemed Clearance"></span>-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </form>
</div>


