
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompanydetailLabel" data-translate="investhryApp.companydetail.home.createOrEditLabel">Create or edit a Companydetail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.companydetail.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.companydetail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.investorid" for="field_investorid">Investorid</label>
            <input type="text" class="form-control" name="investorid" id="field_investorid"
                    ng-model="vm.companydetail.investorid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.promoter_md_director" for="field_promoter_md_director">Promoter Md Director</label>
            <input type="text" class="form-control" name="promoter_md_director" id="field_promoter_md_director"
                    ng-model="vm.companydetail.promoter_md_director"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.companydetail.designation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentity" for="field_businessentity">Businessentity</label>
            <input type="text" class="form-control" name="businessentity" id="field_businessentity"
                    ng-model="vm.companydetail.businessentity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentitytype" for="field_businessentitytype">Businessentitytype</label>
            <input type="text" class="form-control" name="businessentitytype" id="field_businessentitytype"
                    ng-model="vm.companydetail.businessentitytype"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.director_promoter_md_ceo_number" for="field_director_promoter_md_ceo_number">Director Promoter Md Ceo Number</label>
            <input type="number" class="form-control" name="director_promoter_md_ceo_number" id="field_director_promoter_md_ceo_number"
                    ng-model="vm.companydetail.director_promoter_md_ceo_number"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setDirector_md_ceo_list($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.director_md_ceo_list" for="field_director_md_ceo_list">Director Md Ceo List</label>
            <div>
                <div ng-if="vm.companydetail.director_md_ceo_list" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.director_md_ceo_listContentType, vm.companydetail.director_md_ceo_list)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.director_md_ceo_listContentType}}, {{vm.byteSize(vm.companydetail.director_md_ceo_list)}}</span>
                    <button type="button" ng-click="vm.companydetail.director_md_ceo_list=null;vm.companydetail.director_md_ceo_listContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setDirector_md_ceo_list($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="director_md_ceo_list" id="field_director_md_ceo_list"
                    ng-model="vm.companydetail.director_md_ceo_list"
                    />
            <input type="hidden" class="form-control" name="director_md_ceo_listContentType" id="field_director_md_ceo_listContentType"
                    ng-model="vm.companydetail.director_md_ceo_listContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.pan_number" for="field_pan_number">Pan Number</label>
            <input type="text" class="form-control" name="pan_number" id="field_pan_number"
                    ng-model="vm.companydetail.pan_number"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPancard($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.pancard" for="field_pancard">Pancard</label>
            <div>
                <div ng-if="vm.companydetail.pancard" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.pancardContentType, vm.companydetail.pancard)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.pancardContentType}}, {{vm.byteSize(vm.companydetail.pancard)}}</span>
                    <button type="button" ng-click="vm.companydetail.pancard=null;vm.companydetail.pancardContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPancard($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="pancard" id="field_pancard"
                    ng-model="vm.companydetail.pancard"
                    />
            <input type="hidden" class="form-control" name="pancardContentType" id="field_pancardContentType"
                    ng-model="vm.companydetail.pancardContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.aadhar_number" for="field_aadhar_number">Aadhar Number</label>
            <input type="text" class="form-control" name="aadhar_number" id="field_aadhar_number"
                    ng-model="vm.companydetail.aadhar_number"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAadharcard($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.aadharcard" for="field_aadharcard">Aadharcard</label>
            <div>
                <div ng-if="vm.companydetail.aadharcard" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.aadharcardContentType, vm.companydetail.aadharcard)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.aadharcardContentType}}, {{vm.byteSize(vm.companydetail.aadharcard)}}</span>
                    <button type="button" ng-click="vm.companydetail.aadharcard=null;vm.companydetail.aadharcardContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAadharcard($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="aadharcard" id="field_aadharcard"
                    ng-model="vm.companydetail.aadharcard"
                    />
            <input type="hidden" class="form-control" name="aadharcardContentType" id="field_aadharcardContentType"
                    ng-model="vm.companydetail.aadharcardContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.nri" for="field_nri">Nri</label>
            <input type="checkbox" class="form-control" name="nri" id="field_nri"
                    ng-model="vm.companydetail.nri"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.tin_vat_number" for="field_tin_vat_number">Tin Vat Number</label>
            <input type="text" class="form-control" name="tin_vat_number" id="field_tin_vat_number"
                    ng-model="vm.companydetail.tin_vat_number"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTin_vat_document($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.tin_vat_document" for="field_tin_vat_document">Tin Vat Document</label>
            <div>
                <div ng-if="vm.companydetail.tin_vat_document" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.tin_vat_documentContentType, vm.companydetail.tin_vat_document)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.tin_vat_documentContentType}}, {{vm.byteSize(vm.companydetail.tin_vat_document)}}</span>
                    <button type="button" ng-click="vm.companydetail.tin_vat_document=null;vm.companydetail.tin_vat_documentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTin_vat_document($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="tin_vat_document" id="field_tin_vat_document"
                    ng-model="vm.companydetail.tin_vat_document"
                    />
            <input type="hidden" class="form-control" name="tin_vat_documentContentType" id="field_tin_vat_documentContentType"
                    ng-model="vm.companydetail.tin_vat_documentContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.cst_number" for="field_cst_number">Cst Number</label>
            <input type="text" class="form-control" name="cst_number" id="field_cst_number"
                    ng-model="vm.companydetail.cst_number"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setCst_document($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.cst_document" for="field_cst_document">Cst Document</label>
            <div>
                <div ng-if="vm.companydetail.cst_document" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.cst_documentContentType, vm.companydetail.cst_document)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.cst_documentContentType}}, {{vm.byteSize(vm.companydetail.cst_document)}}</span>
                    <button type="button" ng-click="vm.companydetail.cst_document=null;vm.companydetail.cst_documentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setCst_document($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="cst_document" id="field_cst_document"
                    ng-model="vm.companydetail.cst_document"
                    />
            <input type="hidden" class="form-control" name="cst_documentContentType" id="field_cst_documentContentType"
                    ng-model="vm.companydetail.cst_documentContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setMoa_partnershipdeed($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.moa_partnershipdeed" for="field_moa_partnershipdeed">Moa Partnershipdeed</label>
            <div>
                <div ng-if="vm.companydetail.moa_partnershipdeed" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.moa_partnershipdeedContentType, vm.companydetail.moa_partnershipdeed)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.moa_partnershipdeedContentType}}, {{vm.byteSize(vm.companydetail.moa_partnershipdeed)}}</span>
                    <button type="button" ng-click="vm.companydetail.moa_partnershipdeed=null;vm.companydetail.moa_partnershipdeedContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setMoa_partnershipdeed($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="moa_partnershipdeed" id="field_moa_partnershipdeed"
                    ng-model="vm.companydetail.moa_partnershipdeed"
                    />
            <input type="hidden" class="form-control" name="moa_partnershipdeedContentType" id="field_moa_partnershipdeedContentType"
                    ng-model="vm.companydetail.moa_partnershipdeedContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setRegistration_document($file, vm.companydetail)">
            <label class="control-label" data-translate="investhryApp.companydetail.registration_document" for="field_registration_document">Registration Document</label>
            <div>
                <div ng-if="vm.companydetail.registration_document" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.companydetail.registration_documentContentType, vm.companydetail.registration_document)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.companydetail.registration_documentContentType}}, {{vm.byteSize(vm.companydetail.registration_document)}}</span>
                    <button type="button" ng-click="vm.companydetail.registration_document=null;vm.companydetail.registration_documentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setRegistration_document($file, vm.companydetail)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="registration_document" id="field_registration_document"
                    ng-model="vm.companydetail.registration_document"
                    />
            <input type="hidden" class="form-control" name="registration_documentContentType" id="field_registration_documentContentType"
                    ng-model="vm.companydetail.registration_documentContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
