
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompanydetailLabel" data-translate="investhryApp.companydetail.home.createOrEditLabel">Create or edit a Companydetail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.companydetail.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.companydetail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.promoter_md_director" for="field_promoter_md_director">Promoter Md Director</label>
            <input type="text" class="form-control" name="promoter_md_director" id="field_promoter_md_director"
                    ng-model="vm.companydetail.promoter_md_director"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.companydetail.designation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentity" for="field_businessentity">Businessentity</label>
            <input type="text" class="form-control" name="businessentity" id="field_businessentity"
                    ng-model="vm.companydetail.businessentity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.director_promoter_md_ceo_number" for="field_director_promoter_md_ceo_number">Director Promoter Md Ceo Number</label>
            <input type="number" class="form-control" name="director_promoter_md_ceo_number" id="field_director_promoter_md_ceo_number"
                    ng-model="vm.companydetail.director_promoter_md_ceo_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.pan_number" for="field_pan_number">Pan Number</label>
            <input type="text" class="form-control" name="pan_number" id="field_pan_number"
                    ng-model="vm.companydetail.pan_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.aadhar_number" for="field_aadhar_number">Aadhar Number</label>
            <input type="text" class="form-control" name="aadhar_number" id="field_aadhar_number"
                    ng-model="vm.companydetail.aadhar_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.nri" for="field_nri">Nri</label>
            <input type="checkbox" class="form-control" name="nri" id="field_nri"
                    ng-model="vm.companydetail.nri"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.tin_vat_number" for="field_tin_vat_number">Tin Vat Number</label>
            <input type="text" class="form-control" name="tin_vat_number" id="field_tin_vat_number"
                    ng-model="vm.companydetail.tin_vat_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.cst_number" for="field_cst_number">Cst Number</label>
            <input type="text" class="form-control" name="cst_number" id="field_cst_number"
                    ng-model="vm.companydetail.cst_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentitytype" for="field_businessentitytype">Businessentitytype</label>
            <input type="text" class="form-control" name="businessentitytype" id="field_businessentitytype"
                    ng-model="vm.companydetail.businessentitytype"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.createdate" for="field_createdate">Createdate</label>
                <div class="input-group">
                    <input id="field_createdate" type="text" class="form-control" name="createdate" datetime-picker="{{dateformat}}" ng-model="vm.companydetail.createdate" is-open="vm.datePickerOpenStatus.createdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.updatedate" for="field_updatedate">Updatedate</label>
                <div class="input-group">
                    <input id="field_updatedate" type="text" class="form-control" name="updatedate" datetime-picker="{{dateformat}}" ng-model="vm.companydetail.updatedate" is-open="vm.datePickerOpenStatus.updatedate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
