
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompanydetailLabel" data-translate="investhryApp.companydetail.home.createOrEditLabel">Create or edit a Companydetail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.companydetail.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.companydetail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.investorid" for="field_investorid">Investorid</label>
            <input type="text" class="form-control" name="investorid" id="field_investorid"
                    ng-model="vm.companydetail.investorid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.promoter_md_director" for="field_promoter_md_director">Promoter Md Director</label>
            <input type="text" class="form-control" name="promoter_md_director" id="field_promoter_md_director"
                    ng-model="vm.companydetail.promoter_md_director"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.companydetail.designation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentity" for="field_businessentity">Businessentity</label>
            <input type="text" class="form-control" name="businessentity" id="field_businessentity"
                    ng-model="vm.companydetail.businessentity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.director_promoter_md_ceo_number" for="field_director_promoter_md_ceo_number">Director Promoter Md Ceo Number</label>
            <input type="number" class="form-control" name="director_promoter_md_ceo_number" id="field_director_promoter_md_ceo_number"
                    ng-model="vm.companydetail.director_promoter_md_ceo_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.pan_number" for="field_pan_number">Pan Number</label>
            <input type="text" class="form-control" name="pan_number" id="field_pan_number"
                    ng-model="vm.companydetail.pan_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.aadhar_number" for="field_aadhar_number">Aadhar Number</label>
            <input type="text" class="form-control" name="aadhar_number" id="field_aadhar_number"
                    ng-model="vm.companydetail.aadhar_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.nri" for="field_nri">Nri</label>
            <input type="checkbox" class="form-control" name="nri" id="field_nri"
                    ng-model="vm.companydetail.nri"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.tin_vat_number" for="field_tin_vat_number">Tin Vat Number</label>
            <input type="text" class="form-control" name="tin_vat_number" id="field_tin_vat_number"
                    ng-model="vm.companydetail.tin_vat_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.cst_number" for="field_cst_number">Cst Number</label>
            <input type="text" class="form-control" name="cst_number" id="field_cst_number"
                    ng-model="vm.companydetail.cst_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.director_md_ceo_list" for="field_director_md_ceo_list">Director Md Ceo List</label>
            <input type="text" class="form-control" name="director_md_ceo_list" id="field_director_md_ceo_list"
                    ng-model="vm.companydetail.director_md_ceo_list"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.pancard" for="field_pancard">Pancard</label>
            <input type="text" class="form-control" name="pancard" id="field_pancard"
                    ng-model="vm.companydetail.pancard"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.aadharcard" for="field_aadharcard">Aadharcard</label>
            <input type="text" class="form-control" name="aadharcard" id="field_aadharcard"
                    ng-model="vm.companydetail.aadharcard"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.tin_vat_document" for="field_tin_vat_document">Tin Vat Document</label>
            <input type="text" class="form-control" name="tin_vat_document" id="field_tin_vat_document"
                    ng-model="vm.companydetail.tin_vat_document"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.cst_document" for="field_cst_document">Cst Document</label>
            <input type="text" class="form-control" name="cst_document" id="field_cst_document"
                    ng-model="vm.companydetail.cst_document"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.moa_partnershipdeed" for="field_moa_partnershipdeed">Moa Partnershipdeed</label>
            <input type="text" class="form-control" name="moa_partnershipdeed" id="field_moa_partnershipdeed"
                    ng-model="vm.companydetail.moa_partnershipdeed"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.registration_document" for="field_registration_document">Registration Document</label>
            <input type="text" class="form-control" name="registration_document" id="field_registration_document"
                    ng-model="vm.companydetail.registration_document"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.companydetail.businessentitytype" for="field_businessentitytype">Businessentitytype</label>
            <input type="text" class="form-control" name="businessentitytype" id="field_businessentitytype"
                    ng-model="vm.companydetail.businessentitytype"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

