<div class="container">
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" data-translate="investhryApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.department.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.department.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.department.departmentname" for="field_departmentname">Departmentname</label>
            <input type="text" class="form-control" name="departmentname" id="field_departmentname"
                    ng-model="vm.department.departmentname"
                    required/>
            <div ng-show="editForm.departmentname.$invalid">
                <p class="help-block"
                    ng-show="editForm.departmentname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.department.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.department.description"
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.department.hod" for="field_hod">Hod</label>
            <input type="text" class="form-control" name="hod" id="field_hod"
                    ng-model="vm.department.hod"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.department.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.department.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.department.hodmobile" for="field_hodmobile">Hodmobile</label>
            <input type="text" class="form-control" name="hodmobile" id="field_hodmobile"
                    ng-model="vm.department.hodmobile"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>
