<div class="container">
<form name="editForm" role="form" >

    <div class="modal-header">
       <h4 class="modal-title" id="myBlockLabel">Payment Amount</h4>
    </div>
    <!--<div class="modal-body">-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" >Payment amount</label>-->
            <!--<input type="text" class="form-control" placeholder="Enter Payment amount" required/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" >Remarks</label>-->
            <!--<textarea class="form-control"  placeholder="Enter Remarks" required/>-->
        <!--</div>-->

    <!--</div>-->
    <div class="panel-body">

            <div ng-repeat="departmentservice in vm.projectservicedetails" ng-show="departmentservice.serviceid == vm.getids" >


                <div class="form-group">
                    <label>You have to pay : Rs. {{departmentservice.servicefee}}</label>
                    <!--<label>Service will be delivered within : {{departmentservice.servicefee}} </label>-->
                </div>

                <!--<td><div ng-repeat="departmentservicedata in vm.departmentServices | filter: departmentservice.serviceid"><label>{{departmentservicedata.serviceName}}</label></div></td>-->
                <!--<td>{{vm.selectedprojectdetail.projectdetailDTO.id}}</td>-->
                <!--<div>-->
                    <!--&lt;!&ndash;<button type="submit"  ui-sref="projectdetailjist-fillform({serviceID:departmentservice.serviceid, projectid:vm.selectedprojectdetail.projectdetailDTO.id })" class="btn btn-info ">Fill Form</button>&ndash;&gt;-->
                    <!--<button type="submit"  ui-sref="projectdetailjist.payfee" class="btn btn-info ">Make Payment</button>-->
                <!--</div>-->
            </div>


    </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">Clear</button>
        <button type="submit" class="btn btn-default" >Make Payment</button>
    </div>
</form>
</div>
