
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectservicedetailLabel" data-translate="investhryApp.projectservicedetail.home.createOrEditLabel">Create or edit a Projectservicedetail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectservicedetail.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectservicedetail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.projectid" for="field_projectid">Projectid</label>
            <input type="text" class="form-control" name="projectid" id="field_projectid"
                    ng-model="vm.projectservicedetail.projectid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.serviceid" for="field_serviceid">Serviceid</label>
            <input type="text" class="form-control" name="serviceid" id="field_serviceid"
                    ng-model="vm.projectservicedetail.serviceid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.isRequired" for="field_isRequired">Is Required</label>
            <input type="checkbox" class="form-control" name="isRequired" id="field_isRequired"
                    ng-model="vm.projectservicedetail.isRequired"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.requireMarkedOnDate" for="field_requireMarkedOnDate">Require Marked On Date</label>
                <div class="input-group">
                    <input id="field_requireMarkedOnDate" type="text" class="form-control" name="requireMarkedOnDate" datetime-picker="{{dateformat}}" ng-model="vm.projectservicedetail.requireMarkedOnDate" is-open="vm.datePickerOpenStatus.requireMarkedOnDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('requireMarkedOnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.requireMarkedBy" for="field_requireMarkedBy">Require Marked By</label>
            <input type="text" class="form-control" name="requireMarkedBy" id="field_requireMarkedBy"
                    ng-model="vm.projectservicedetail.requireMarkedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.isAssigned" for="field_isAssigned">Is Assigned</label>
            <input type="checkbox" class="form-control" name="isAssigned" id="field_isAssigned"
                    ng-model="vm.projectservicedetail.isAssigned"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.assigOnDate" for="field_assigOnDate">Assig On Date</label>
                <div class="input-group">
                    <input id="field_assigOnDate" type="text" class="form-control" name="assigOnDate" datetime-picker="{{dateformat}}" ng-model="vm.projectservicedetail.assigOnDate" is-open="vm.datePickerOpenStatus.assigOnDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('assigOnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.assignBy" for="field_assignBy">Assign By</label>
            <input type="text" class="form-control" name="assignBy" id="field_assignBy"
                    ng-model="vm.projectservicedetail.assignBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.formFilledStatus" for="field_formFilledStatus">Form Filled Status</label>
            <input type="checkbox" class="form-control" name="formFilledStatus" id="field_formFilledStatus"
                    ng-model="vm.projectservicedetail.formFilledStatus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.isPaymentMade" for="field_isPaymentMade">Is Payment Made</label>
            <input type="checkbox" class="form-control" name="isPaymentMade" id="field_isPaymentMade"
                    ng-model="vm.projectservicedetail.isPaymentMade"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.isPaymentVerified" for="field_isPaymentVerified">Is Payment Verified</label>
            <input type="checkbox" class="form-control" name="isPaymentVerified" id="field_isPaymentVerified"
                    ng-model="vm.projectservicedetail.isPaymentVerified"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.formFilledOnDate" for="field_formFilledOnDate">Form Filled On Date</label>
                <div class="input-group">
                    <input id="field_formFilledOnDate" type="text" class="form-control" name="formFilledOnDate" datetime-picker="{{dateformat}}" ng-model="vm.projectservicedetail.formFilledOnDate" is-open="vm.datePickerOpenStatus.formFilledOnDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('formFilledOnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.formFilledBy" for="field_formFilledBy">Form Filled By</label>
            <input type="text" class="form-control" name="formFilledBy" id="field_formFilledBy"
                    ng-model="vm.projectservicedetail.formFilledBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.paymentMadeOnDate" for="field_paymentMadeOnDate">Payment Made On Date</label>
                <div class="input-group">
                    <input id="field_paymentMadeOnDate" type="text" class="form-control" name="paymentMadeOnDate" datetime-picker="{{dateformat}}" ng-model="vm.projectservicedetail.paymentMadeOnDate" is-open="vm.datePickerOpenStatus.paymentMadeOnDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('paymentMadeOnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.projectservicedetail.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.latestComments" for="field_latestComments">Latest Comments</label>
            <input type="text" class="form-control" name="latestComments" id="field_latestComments"
                    ng-model="vm.projectservicedetail.latestComments"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.projectservicedetail.serviceFee" for="field_serviceFee">Service Fee</label>
            <input type="number" class="form-control" name="serviceFee" id="field_serviceFee"
                    ng-model="vm.projectservicedetail.serviceFee"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
