
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myElectricrequirementLabel" data-translate="investhryApp.electricrequirement.home.createOrEditLabel">Create or edit a Electricrequirement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.electricrequirement.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.electricrequirement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.projectid" for="field_projectid">Projectid</label>
            <input type="text" class="form-control" name="projectid" id="field_projectid"
                    ng-model="vm.electricrequirement.projectid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temporaryrequired" for="field_temporaryrequired">Temporaryrequired</label>
            <input type="checkbox" class="form-control" name="temporaryrequired" id="field_temporaryrequired"
                    ng-model="vm.electricrequirement.temporaryrequired"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.tem_load_existing" for="field_tem_load_existing">Tem Load Existing</label>
            <input type="checkbox" class="form-control" name="tem_load_existing" id="field_tem_load_existing"
                    ng-model="vm.electricrequirement.tem_load_existing"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.tem_account_number" for="field_tem_account_number">Tem Account Number</label>
            <input type="text" class="form-control" name="tem_account_number" id="field_tem_account_number"
                    ng-model="vm.electricrequirement.tem_account_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temp_existing_load_demand_kw" for="field_temp_existing_load_demand_kw">Temp Existing Load Demand Kw</label>
            <input type="number" class="form-control" name="temp_existing_load_demand_kw" id="field_temp_existing_load_demand_kw"
                    ng-model="vm.electricrequirement.temp_existing_load_demand_kw"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temp_existing_load_demand_kva" for="field_temp_existing_load_demand_kva">Temp Existing Load Demand Kva</label>
            <input type="number" class="form-control" name="temp_existing_load_demand_kva" id="field_temp_existing_load_demand_kva"
                    ng-model="vm.electricrequirement.temp_existing_load_demand_kva"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temp_new_load_demand_kw" for="field_temp_new_load_demand_kw">Temp New Load Demand Kw</label>
            <input type="number" class="form-control" name="temp_new_load_demand_kw" id="field_temp_new_load_demand_kw"
                    ng-model="vm.electricrequirement.temp_new_load_demand_kw"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temp_new_load_demand_kva" for="field_temp_new_load_demand_kva">Temp New Load Demand Kva</label>
            <input type="number" class="form-control" name="temp_new_load_demand_kva" id="field_temp_new_load_demand_kva"
                    ng-model="vm.electricrequirement.temp_new_load_demand_kva"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temp_load_demand_date" for="field_temp_load_demand_date">Temp Load Demand Date</label>
                <div class="input-group">
                    <input id="field_temp_load_demand_date" type="text" class="form-control" name="temp_load_demand_date" datetime-picker="{{dateformat}}" ng-model="vm.electricrequirement.temp_load_demand_date" is-open="vm.datePickerOpenStatus.temp_load_demand_date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('temp_load_demand_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_load_required" for="field_regular_load_required">Regular Load Required</label>
            <input type="checkbox" class="form-control" name="regular_load_required" id="field_regular_load_required"
                    ng-model="vm.electricrequirement.regular_load_required"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_existing_connection" for="field_regular_existing_connection">Regular Existing Connection</label>
            <input type="checkbox" class="form-control" name="regular_existing_connection" id="field_regular_existing_connection"
                    ng-model="vm.electricrequirement.regular_existing_connection"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.customertype" for="field_customertype">Customertype</label>
            <input type="text" class="form-control" name="customertype" id="field_customertype"
                    ng-model="vm.electricrequirement.customertype"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_account_number" for="field_regular_account_number">Regular Account Number</label>
            <input type="text" class="form-control" name="regular_account_number" id="field_regular_account_number"
                    ng-model="vm.electricrequirement.regular_account_number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_existing_load_ifany_kw" for="field_regular_existing_load_ifany_kw">Regular Existing Load Ifany Kw</label>
            <input type="number" class="form-control" name="regular_existing_load_ifany_kw" id="field_regular_existing_load_ifany_kw"
                    ng-model="vm.electricrequirement.regular_existing_load_ifany_kw"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_existing_load_ifany_kva" for="field_regular_existing_load_ifany_kva">Regular Existing Load Ifany Kva</label>
            <input type="number" class="form-control" name="regular_existing_load_ifany_kva" id="field_regular_existing_load_ifany_kva"
                    ng-model="vm.electricrequirement.regular_existing_load_ifany_kva"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_new_load_demand_kw" for="field_regular_new_load_demand_kw">Regular New Load Demand Kw</label>
            <input type="number" class="form-control" name="regular_new_load_demand_kw" id="field_regular_new_load_demand_kw"
                    ng-model="vm.electricrequirement.regular_new_load_demand_kw"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_new_load_demand_kva" for="field_regular_new_load_demand_kva">Regular New Load Demand Kva</label>
            <input type="number" class="form-control" name="regular_new_load_demand_kva" id="field_regular_new_load_demand_kva"
                    ng-model="vm.electricrequirement.regular_new_load_demand_kva"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_load_demand_date" for="field_regular_load_demand_date">Regular Load Demand Date</label>
                <div class="input-group">
                    <input id="field_regular_load_demand_date" type="text" class="form-control" name="regular_load_demand_date" datetime-picker="{{dateformat}}" ng-model="vm.electricrequirement.regular_load_demand_date" is-open="vm.datePickerOpenStatus.regular_load_demand_date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('regular_load_demand_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.temporaryconnection" for="field_temporaryconnection">Temporaryconnection</label>
            <input type="text" class="form-control" name="temporaryconnection" id="field_temporaryconnection"
                    ng-model="vm.electricrequirement.temporaryconnection"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.regular_connection_doc" for="field_regular_connection_doc">Regular Connection Doc</label>
            <input type="text" class="form-control" name="regular_connection_doc" id="field_regular_connection_doc"
                    ng-model="vm.electricrequirement.regular_connection_doc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.projectname" for="field_projectname">Projectname</label>
            <input type="text" class="form-control" name="projectname" id="field_projectname"
                    ng-model="vm.electricrequirement.projectname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.electricrequirement.customertypename" for="field_customertypename">Customertypename</label>
            <input type="text" class="form-control" name="customertypename" id="field_customertypename"
                    ng-model="vm.electricrequirement.customertypename"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
