.circle-bg {
    background: rgba(0, 0, 0, 0) url(../home/cricle-bg.png) no-repeat scroll center top;
    border-radius: 50%;
    color: #822dcb;
    font-size: 1.6em;
    height: 98px;
    margin: auto;
    padding-top: 25px;
    width: 98px;
}
.service-cont {
    background: #2dcb74 none repeat scroll 0 0;
    padding-top: 20px;
    padding-bottom: 40px;
}
.latest-update {
    background: rgba(29, 158, 87, 0.63) none repeat scroll 0 0;
    box-shadow: 2px 2px 2px #888888;

}
.investor-box {
    border: 1px solid #c5c5c5;
    float: right;
    list-style: outside none none;
    margin: 0 3px 0 0;
    padding: 0;
    width: 94%;
}

style.css:493
.investor-box {
    background: #e5e4e2;
}
.investor-box li a {
    color: #646463;
    font-family: Calibri;
    font-size: 28px;
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    padding: 7px 0 7px 30px;
    text-transform: uppercase;
}
.row h3 {
    font-family: Calibri;
    font-size: 24px;
    color: #3e403f;
    text-transform: uppercase;
}

.panel h2 {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 20px!important;
    font-weight: normal;
    line-height: 33px;
    margin: 0;
    padding: 0 12px;
    text-transform: uppercase;
    text-align: center;
}

.welcome-txt h1 {
    color: #3e403f;
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 7px 0;
    text-transform: uppercase;
}

.welcome-txt h1 span {
    font-family: Calibri;
    font-size: 24px;
    color: #d44a01;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-transform: uppercase;
}

.welcome-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #4e4d4c;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

.investor-box {
    border: 1px solid #c5c5c5;
    float: right;
    list-style: outside none none;
    margin: 0 3px 0 0;
    padding: 0;
    width: 94%;
}

.investor-box {
    background: #e5e4e2;
}

.investor-box li {
    border-bottom: 1px solid #c5c5c5;
    color: #646463;
    font-family: Calibri;
    font-size: 28px;
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    padding: 7px 0 7px 30px;
    text-transform: uppercase;
}

.investor-box li a {
    color: #646463;
    font-family: Calibri;
    font-size: 25px;
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    padding: 7px 0 7px 30px;
    text-transform: uppercase;
}

.icon2 {
    font-size: 35px!important;
}



