
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProject_phaseLabel" data-translate="investhryApp.project_phase.home.createOrEditLabel">Create or edit a Project Phase</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.project_phase.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.project_phase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.projectid" for="field_projectid">Projectid</label>
            <input type="text" class="form-control" name="projectid" id="field_projectid"
                    ng-model="vm.project_phase.projectid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.phase" for="field_phase">Phase</label>
            <input type="text" class="form-control" name="phase" id="field_phase"
                    ng-model="vm.project_phase.phase"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.productcategory" for="field_productcategory">Productcategory</label>
            <input type="text" class="form-control" name="productcategory" id="field_productcategory"
                    ng-model="vm.project_phase.productcategory"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.fci" for="field_fci">Fci</label>
            <input type="text" class="form-control" name="fci" id="field_fci"
                    ng-model="vm.project_phase.fci"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.implementationdate" for="field_implementationdate">Implementationdate</label>
                <div class="input-group">
                    <input id="field_implementationdate" type="text" class="form-control" name="implementationdate" datetime-picker="{{dateformat}}" ng-model="vm.project_phase.implementationdate" is-open="vm.datePickerOpenStatus.implementationdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('implementationdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.project_phase.projectname" for="field_projectname">Projectname</label>
            <input type="text" class="form-control" name="projectname" id="field_projectname"
                    ng-model="vm.project_phase.projectname"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
