
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentServiceLabel" data-translate="investhryApp.departmentService.home.createOrEditLabel">Create or edit a Department Service</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.departmentService.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.departmentService.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.serviceName" for="field_serviceName">Service Name</label>
            <input type="text" class="form-control" name="serviceName" id="field_serviceName"
                    ng-model="vm.departmentService.serviceName"
                    required/>
            <div ng-show="editForm.serviceName.$invalid">
                <p class="help-block"
                    ng-show="editForm.serviceName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.serviceDescription" for="field_serviceDescription">Service Description</label>
            <input type="text" class="form-control" name="serviceDescription" id="field_serviceDescription"
                    ng-model="vm.departmentService.serviceDescription"
                    required/>
            <div ng-show="editForm.serviceDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.serviceDescription.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.departmentService.duration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.stage" for="field_stage">Stage</label>
            <input type="text" class="form-control" name="stage" id="field_stage"
                    ng-model="vm.departmentService.stage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.departmentname" for="field_departmentname">Departmentname</label>
            <input type="text" class="form-control" name="departmentname" id="field_departmentname"
                    ng-model="vm.departmentService.departmentname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="investhryApp.departmentService.departmentid" for="field_departmentid">Departmentid</label>
            <input type="text" class="form-control" name="departmentid" id="field_departmentid"
                    ng-model="vm.departmentService.departmentid"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
